.list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.list > li {
  padding: 10px;
  text-align: end;
}
.list > li:hover {
  background-color: rgba(175, 175, 175, 0.712);
}
.list > li .expression {
  font-size: 18px;
  display: block;
  color: rgb(139, 139, 139);
}
.list > li .result {
  font-size: 3vw;
  color: rgb(24, 23, 23);
  font-weight: 600;
  max-width: 410px;
  word-break: break-all;
  text-align: end;
}
