.App {
  text-align: center;
  background-color: #383838;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AppTitle {
  padding: 16px;
  font-size: 3.5em;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.BoxWrapper {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 12px 20px 11px #27272985;
  height: 600px;
  width: 80%;
  padding: 0px;
}

.layout {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
}
.leftLayout {
  flex-basis: 60%;
  max-width: 60%;
  border-right: 1px solid rgb(201, 201, 201);
  background-color: #455a64;
}
.rightLayout {
  flex-basis: 40%;
  height: 100%;
  background-color: #f0f0f0;
}
.historyLayout {
  height: calc(100% - 95px);
  min-height: 300px;
}
.historyTitle {
  padding: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}
.historyClear {
  background-color: #696160;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
}
.historyClear:hover {
  background-color: #222020;
}
.credits {
  height: 20px;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(133, 122, 122);
}
.credits > a {
  text-decoration: none;
  font-weight: 600;
}
@media screen and (max-width: 991.98px) {
  .BoxWrapper {
    height: 80%;
  }
  .BoxWrapper > div {
    flex-direction: column;
  }
  .leftLayout {
    border: none;
    max-width: 100%;
  }
}
@media screen and (max-width: 572px) {
  .BoxWrapper {
    height: 100%;
    width: 100%;
    font-size: 86%;
  }
  .AppTitle {
    font-size: 15px;
  }
}
